<div class="text-right">
<a href="/admin/usuario/add"
<button class="btn btn-success">Novo usuário</button>
</a>
</div>
<h2>Lista de usuários:</h2>
<hr>
{{#each usuarios}}
<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">{{nome}}</h5>
    <p class="card-text">{{email}}</p>
    <small>{{senha}}</small><br>
    <div class="btn-group">
      
            <a href="/admin/usuario/edit/{{_id}}">
                <button class="btn btn-success btn-sm ">Editar</button>
            </a>
    </div> 
    <div class="btn-group">
            <form action="/admin/usuario/apagar" method="post">
              <input type="hidden" name="id" value="{{_id}}">
              <button class="btn btn-danger btn-sm">Apagar</button>
            </form>
           
    </div>
  </div>
</div>

{{else}}
<h4>Nenhum usuário registrado!</h4>
{{/each}}